.container_itemDetail{
    width: 98%;
    margin: auto;
}

.tituloItemDetail{
    padding: 10px;
}

.descripcionItemDetail{
    padding: 10px;
    justify-items: center;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .container_itemDetail{
        width: 70%;
    }

    .detail_itemDetail{
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .detail_image{ 
        width: 100%;
    }

    .content_itemDetail{
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    .detail_image{
        width: 50%;
    }

    .content_itemDetail{
        padding-left: 3rem;
        width: 50%;
    }
}

/* Estilos botón Terminar Compra */
.botonItemDetail button{
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    color: 	#0000FF;
    border: 1px solid #0000FF;
    border-radius: 4px;
    transition: all 400ms ease;
}

.botonItemDetail button:hover{
    background: #0000FF;
    color: #fff;
}